@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Space+Mono:ital,wght@1,700&display=swap");

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(240, 57%, 97%);
  --light-grayish-blue: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 400px;
}

.appWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header p {
  color: var(--grayish-blue);
}

.app {
  background-color: var(--white);
  width: 36%;
  min-width: 500px;
  max-width: 600px;
  height: max-content;

  color: var(--grayish-blue);

  margin: 70px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px var(--grayish-blue);
}

.section1-pageViews-Pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pricing {
  display: flex;
  align-items: center;
}

.perYearOrMonth,
.pageViews {
  font-size: 15px;
}

.price {
  color: black;
  font-size: 35px;
  font-weight: 800;
}

.slider {
  appearance: none;
  background-color: var(--very-pale-blue);
  border-radius: 50px;
  width: 100%;
  height: 10px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 0 0 10px 5px var(--soft-cyan);

  position: relative;
  z-index: 2;
}

.slider-progress {
  display: inline-block;
  height: 8px;

  background-color: var(--soft-cyan);

  position: relative;

  border-radius: 50px;
  top: 20px;
  z-index: 1;
}

/* progress bar in firefox */
@-moz-document url-prefix() {
  .slider-progress {
    display: none;
  }

  .slider::-moz-range-progress {
    height: 10px;
    border-radius: 50px;
    background-color: var(--soft-cyan);
  }

  .slider::-moz-range-thumb {
    width: 35px;
    height: 35px;

    appearance: none;

    cursor: pointer;

    border-radius: 50%;

    background-color: var(--strong-cyan);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0 0 10px 5px var(--soft-cyan);

    position: relative;
    z-index: 2;
  }
}

.section3-monthToYear {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  padding: 40px 10px 70px 0;
  border-bottom: 1px solid var(--light-grayish-blue);
  margin-bottom: 20px;
}

.section3-monthToYear p {
  font-size: 13px;
  font-weight: 800;
}

.switch-core {
  appearance: none;
}

.switch {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 22px;
  cursor: pointer;

  border-radius: 50px;
  background-color: var(--light-grayish-blue);
}

.switch:hover {
  background-color: var(--soft-cyan);
  transition: 0.5s ease-in-out;
}

.switch-ball {
  width: 15px;
  height: 15px;

  border-radius: 50px;
  margin: auto 3px;

  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

.switch-core:checked ~ .switch-ball {
  margin: auto 0 auto 20px;
  transition: 0.3s ease-in-out;
}

.discount {
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  padding: 3px 5px;
  border-radius: 20px;
}

.section4-lastSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section4-lastSection ul li {
  margin: 7px;
  list-style: none;
}

.section4-lastSection ul li::before {
  content: url("./images/icon-check.svg");
  margin: 0 10px 0 0;
  width: 50px;
}

.startBTN {
  text-decoration: none;
  color: var(--grayish-blue);
  background-color: var(--dark-desaturated-blue);
  padding: 10px 30px;
  border-radius: 50px;
}

.startBTN:hover {
  color: white;
}

@media screen and (max-width: 515px) {
  .header h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .header p {
    text-align: center;
  }
  .app {
    width: 90%;
    min-width: 310px;

    padding: 40px 20px;
  }

  .section1-pageViews-Pricing {
    flex-direction: column;
  }

  .section3-monthToYear {
    justify-content: center;
    padding: 40px 0 70px 0;
    width: 105%;

    gap: 5px;
  }

  .discount {
    width: 50px;
    height: 26px;
    visibility: hidden;
  }

  .discount::before {
    visibility: visible;
    content: "-25%";
    margin: auto;
  }

  .section4-lastSection {
    flex-direction: column;
    text-align: center;
  }

  .section4-lastSection ul {
    margin-bottom: 20px;
  }
}
